body { 
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://i.pinimg.com/736x/0f/b6/c7/0fb6c73a5377e13e45bd454157ac20b1.jpg');
            background-size: cover;
            color: #f0eada; 
            font-family: 'Montserrat', sans-serif; 
            text-align: center;
            padding-top: 50px;
        }

        h1 {
            font-family: 'Bebas Neue', sans-serif; 
           font-size: 80px;
            letter-spacing: 5px;
            color: rgb(245, 6, 110);
}

h2 {
font-family: 'Bebas Neue', sans-serif; 
font-size: 30px;
            letter-spacing: 5px;
            color: white;
            
}
        nav {
            border: 1px solid #333;
            padding: 40px;
            display: inline-block;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            display: inline-block;
           
        }
ol{
font-family: 'Montserrat', sans-serif;
text-align: center;
color: violet;

}

nav li {
margin: 12px 0;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
color: #f0eada;
text-align: left;

}

nav a {
text-decoration: none;
color: antiquewhite;
transition: color 0.3s;
}


        button {
            color: white;
            border: none;
            padding: 12px 25px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s; 
            margin-top: 15px;
        }

    
